/node_modules
/public/hot
/public/storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
bootstrap/
config/
storage/
tests/
.editorconfig/
.env.example
.gitattributes
.gitignore
.styleci.yml
Procfile
artisan
composer.json
composer.lock
package-lock.json
package.json
phpDocumentor.phar
phpunit.xml
server.php
webpack.mix.js
database
docs/
