/*
CSS file black.css
-  sets the styles for the html elements when rendering the pages in the black & white visual mode
 */

.new-offer {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.new-offer header, .offers header {
    margin-bottom: 20px;
}

.offers .offer {
    padding-left: 10px;
    margin-bottom: 50px;
}

.offers .offer .info {
    color: black;
    font-style: italic;
}

.error .success {
    text-align: center;
}

.error{
    color: black;
    background-color: white;
    border: 1px solid white;
}

.error ul {
    list-style: none;
    margin: 0;
    padding: 0px ;
}

.success{
    background-color: #acffa5;
    color: black;
}

.modal-title{
    text-align: left;
}

.card{
    margin-bottom: 10px;
    color: black !important;
}

.card-header, .submit_button, .button_sign{
    background-color: whitesmoke;
    color: black;
}

.btn-outline-secondary:hover,
.submit_button:hover{
    background-color: whitesmoke;
    color: black;
}

.offers-header {
    margin-top: 35px;
}

.sign-form {
    margin-top: 50px;
}

.button_sign{
    margin-top: 15px;
}

.form-grid {
    margin-top: 15px;
}

h3 {
    padding-bottom: 10px;
    border-bottom: whitesmoke 2px solid;
}

.navbar{
    background-color: black;
    color: #aaaaaa;
}

.homepage_container{
    border: 2px white solid;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homepage_body{
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
}

.button_selected{
    background-color: white;
    color: black !important;
}

section{
    margin-top: 35px;
    margin-bottom: 35px;
}

.home_card{
    position: absolute;
    top: 170px;
    background-color: #fff7ea;
    border-radius: 10px;
}

p::first-line {
    color: black;
}

.card{
    margin-top: 25px;
    margin-button: 25px;
}

.to_conversation{
    font-style: italic;
    color: white;
}

.page_heading{
    text-align: center;
}

.page_subheading{
    text-align: center;
    font-size: x-large;
}

.error > ul > li{
    padding: 7px;
    text-align: center;
}

#section_seller{
    margin: 0px;
}

.card_section{
    background-color: white;
    border: whitesmoke 1px solid;
}

.error_js {
    border: 0;
    color: black;
}

.error_js.active {
    box-sizing: border-box;
    text-align: center;
    width  : 100%;
    padding: 10px;
    color: black;
    border: none;
}

.bigger_margin{
    margin: 20px;
}

body {
    background-color: black;
    color: white;
}

nav a{
    color: white !important;
}

nav .navbar-nav li a{
    color: white !important;
}

span{
    float: left; width: 800px;
}


.pagination{
    text-align: center;
}


.page-link{
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px; /* Set the fixed height of the footer here */
    line-height: 25px; /* Vertically center the text there */
    background-color: white;
}
