.new-offer {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.new-offer header, .offers header {
    margin-bottom: 20px;
}

.offers .offer {
    padding-left: 10px;
    margin-bottom: 50px;
}

.offers .offer .info {
    color: #aaa;
    font-style: italic;
}

.error .success {
    text-align: center;
}

.error{
    color: black;
    background-color: #ff776d;
    border: 1px solid red;
}

.error ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.success{
    background-color: #acffa5;
    color: black;
}

.modal-title{
    text-align: left;
}

.card{
    margin-bottom: 10px;
}

.card-header, .submit_button, .button_sign{
    background-color: #eee1e1;
}

.btn-outline-secondary:hover,
.submit_button:hover{
    background-color: #a25e63;
}

.offers-header {
    margin-top: 35px;
}

.sign-form {
    margin-top: 50px;
}

.button_sign{
    margin-top: 15px;
}

.form-grid {
    margin-top: 15px;
}

h3 {
    padding-bottom: 10px;
    border-bottom: #9b2600 2px solid;
}

.navbar{
    background-color: #fff7ea;
}

.homepage_container{
    border: 2px white solid;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homepage_body{
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
}

.button_selected{
    background-color: #a25e63;
    color: black;
}

section{
    margin-top: 35px;
    margin-bottom: 35px;
}

.home_card{
    position: absolute;
    top: 170px;
    background-color: #fff7ea;
    border-radius: 10px;
}

p::first-line {
    color: #9b2600;
}

.card{
    margin-top: 25px;
    margin-button: 25px;
}

.to_conversation{
    font-style: italic;
    color: #9b2600;
}

.page_heading{
    text-align: center;
}

.page_subheading{
    text-align: center;
    font-size: x-large;
}

.error > ul > li{
    padding: 7px;
    text-align: center;
}
