/*
CSS file main.css
-  sets the styles for the html elements when rendering the pages in the normal, that is, light visual mode
 */

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}

@media screen {

    .new-offer {
        padding: 16px 0;
        border-bottom: 1px solid #ccc;
    }

    .new-offer header, .offers header {
        margin-bottom: 20px;
    }

    .offers .offer {
        padding-left: 10px;
        margin-bottom: 50px;
    }

    .offers .offer .info {
        color: #aaa;
        font-style: italic;
    }

    .error .success {
        text-align: center;
    }

    .error {
        color: black;
        background-color: #ff776d;
        border: 1px solid #9b2600;
    }

    .error ul {
        list-style: none;
        margin: 0;
        padding: 0px;
    }

    .success {
        background-color: #acffa5;
        color: black;
    }

    .modal-title {
        text-align: left;
    }

    .card {
        margin-bottom: 10px;
    }

    .card-header, .submit_button, .button_sign {
        background-color: #eee1e1;
    }

    .btn-outline-secondary:hover,
    .submit_button:hover {
        background-color: #a25e63;
    }

    .offers-header {
        margin-top: 35px;
    }

    .sign-form {
        margin-top: 50px;
    }

    .button_sign {
        margin-top: 15px;
    }

    .form-grid {
        margin-top: 15px;
    }

    h3 {
        padding-bottom: 10px;
        border-bottom: #9b2600 2px solid;
    }

    .navbar {
        background-color: #fff7ea;
    }

    .homepage_container {
        border: 2px white solid;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .homepage_body {
        background-size: cover;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
    }

    h1 {
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 70px;
    }

    .button_selected {
        background-color: #a25e63;
        color: black;
    }

    section {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .home_card {
        position: absolute;
        top: 170px;
        background-color: #fff7ea;
        border-radius: 10px;
    }

    p::first-line {
        color: #9b2600;
    }

    .card {
        margin-top: 25px;
        margin-button: 25px;
    }

    .to_conversation {
        font-style: italic;
        color: #9b2600;
    }

    .page_heading {
        text-align: center;
    }

    .page_subheading {
        text-align: center;
        font-size: x-large;
    }

    .error > ul > li {
        padding: 7px;
        text-align: center;
    }

    #section_seller {
        margin: 0px;
    }

    .card_section {
        background-color: white;
        border: #a25e63 1px solid;
    }

    .error_js {
        border: 0;
        color: #eee1e1;
    }

    .error_js.active {
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        padding: 10px;
        color: #9b2600;
        border: none;
    }

    .bigger_margin {
        margin: 20px;
    }

    span {
        float: left;
        width: 800px;
    }

    .filter {
        margin: auto;
    }

    .pagination{
        text-align: center;
    }


    .page-link{
        width: 100%;
    }

    body, html{
        height: 100%;
    }

    .content {
        min-height: 100%;
        padding-bottom:25px;
        overflow: auto;
    }

    .my-footer{
        position: relative;
        width:100%;
        height: 25px;
        margin-top: -50px;
        clear: both;
        padding-bottom: 25px;
    }

    .text-muted{
        text-align: center;
        width: 1000px;
    }

    ul.pagination{
        width: 70px;
        margin: auto;
    }

}

